.screen-large {
    display: block !important;}

.screen-small, 
.print, 
.hide-screen-large {
    display: none !important;}

.accessibility {
    position: absolute;
    left: -1px;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;}

.accessibility:focus {
    left: 0;
    width: auto;
    height: auto;
}


@media print {
    .print, .hide-screen-large {
        display: block !important;}

    .screen-small, .screen-large, .hide-print {
        display: none !important;}
}

@media only screen and (max-width:767px) {
    .screen-small, .hide-screen-large {
        display: block !important;
        }
    .print, 
    .screen-large, 
    .hide-screen-small {
        display: none !important;
        }

.colgroup, .colgroup>.col, .colgroup>.col-right {
    display: block;
    float: none;
    margin-left: 0;
    width: auto !important;
    overflow: hidden;
    }
}

@media only screen and (min-width:600px) and (max-width:960px) {
    body {
    min-height: 1000px;
    min-width: 600px;
    }
}


/* button 
----------------------------------------------------------------------------- */

.btn {
    display: inline-block;
    *display: inline;
    position: relative;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    padding: .5em .5em;
    *zoom: 1;
    margin: 0 0 1em;
    border: 1px solid #999;
    vertical-align: middle;
    background: none;
    background-color: #eee;
    background-image: -moz-linear-gradient(top, rgba(200, 200, 200, 0) 0, rgba(50, 50, 50, .4) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(200, 200, 200, 0)), color-stop(100%, rgba(50, 50, 50, .4)));
    background-image: -webkit-linear-gradient(top, rgba(200, 200, 200, 0) 0, rgba(50, 50, 50, .4) 100%);
    background-image: -o-linear-gradient(top, rgba(200, 200, 200, 0) 0, rgba(50, 50, 50, .4) 100%);
    background-image: -ms-linear-gradient(top, rgba(200, 200, 200, 0) 0, rgba(50, 50, 50, .4) 100%);
    background-image: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0, rgba(50, 50, 50, .4) 100%);
    text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px rgba(255, 255, 255, .3), 0 1px 2px rgba(0, 0, 0, .2);
    border-radius: 5px;
    -webkit-transition: background-color .09s linear;
    -moz-transition: background-color .09s linear;
    -o-transition: background-color .09s linear;
    transition: background-color .09s linear;
}
.btn:focus {
    outline: 1px dotted #666;
}
.btn:hover, .btn:focus {
    color: #333;
    background-color: #ddd;
}
.btn:active {
    color: #333;
    background-color: #ccc;
}
.btn-pos, .btn-neg {
    color: #fcfcfc;
    background-color: #008200;
    border: 1px solid #666;
}
.btn-pos:hover, .btn-pos:focus {
    color: #fff;
    background-color: #00a500;
}
.btn-pos:active {
    color: #fff;
    background-color: #13c013;
}



@media only screen and (max-width:599px) {
    .btn-pos {
    display: block;
    float: none;
    width: 100% !important;
    text-align: center;
    line-height: 3em;
    clear: both;
    margin: 0 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}   




/* label input forms 
------------------------------------------ */

label {
    display: inline-block;
    _display: inline;
    min-width: 160px;
    *width: 160px;
    vertical-align: middle;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    font-size: 20px;
    line-height: 2.5;
    height: 2em;
    padding: 0 12px;
    margin: 8px 0 .5em;
    border: 2px solid #cdcdcd;
    display: inline-block;
    *display: inline;
    color: #5b6368;
    vertical-align: middle;
    background: #fff;
    text-shadow: 0 1px 1px #fff;
    font-family: "NoticiaText"}
::-webkit-input-placeholder {
    color: #a3aeb5;
    font-style: italic;
}
:-moz-placeholder {
    color: #a3aeb5;
    font-style: italic;
}
::-moz-placeholder {
    color: #a3aeb5;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #a3aeb5;
    font-style: italic;
}
input:focus, textarea:focus, keygen:focus, select:focus {
    outline: 0;
    border-color: #999;
}
textarea.btn-disabled, textarea[disabled], input[type="text"].btn-disabled, input[type="text"][disabled], input[type="password"].btn-disabled, input[type="password"][disabled], input[type="datetime"].btn-disabled, input[type="datetime"][disabled], input[type="datetime-local"].btn-disabled, input[type="datetime-local"][disabled], input[type="date"].btn-disabled, input[type="date"][disabled], input[type="month"].btn-disabled, input[type="month"][disabled], input[type="time"].btn-disabled, input[type="time"][disabled], input[type="week"].btn-disabled, input[type="week"][disabled], input[type="number"].btn-disabled, input[type="number"][disabled], input[type="email"].btn-disabled, input[type="email"][disabled], input[type="url"].btn-disabled, input[type="url"][disabled], input[type="search"].btn-disabled, input[type="search"][disabled], input[type="tel"].btn-disabled, input[type="tel"][disabled], input[type="color"].btn-disabled, input[type="color"][disabled] {
    color: #0e0e0e;
    opacity: .5;
    filter: alpha(opacity=50);
}
select {
    display: inline-block;
    *display: inline;
    line-height: 49px;
    height: 49px;
}
textarea {
    display: block;
    height: auto;
    margin-top: 0;
}
input[type="checkbox"], input[type="radio"] {
    margin: 0 5px 0 0;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    width: 25px;
    height: 25px;
}
input[type="radio"] {
    width: 24px;
    height: 24px;
}
em.hint, .hint_text, .hint {
    font-size: .9em;
    line-height: 1.5em;
    font-style: italic;
    font-weight: normal;
}

@media only screen and (max-width:767px) {
    label, input, textarea {
    display: block;
    float: none;
    margin: 0 0 1em;
    width: auto !important;
    }
input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    width: 25px;
    }
}


/* Heading Menu
----------------------------------------------- */


@media only screen and (max-width :599px) {
    .nav-main ul {
    padding: 15px 0;
}
.nav-main ul ul {
    display: block;
}
.nav-main li {
    display: block;
    float: none;
}
.nav-main a {
    padding: 0;
    }
}

@media only screen and (min-width :600px) {
    .nav-main ul.mobile_nav_active {
    display: block !important;
    }
}
@-moz-document url-prefix() {
    .nav-main ul a {
    letter-spacing: .4pt;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
    .nav-main ul a {
    font-size: 16px;
    padding: 15px 10px 12px;
    }



    .header-nav .nav-main {
        margin: 0;
    }
    .banner-primary {
        width: 70%}
    .banner-content h1 {
        font-size: 30px;
    }
    .banner-content h3 {
        font-size: 16px;
    }
    #nav-main {
        display: block;
        width: 100%}
    .banner-secondary {
        width: 29%}
    .nav-utility .text a, .nav-utility .account-toggle {
        font-size: 12px;
    }
    #utility-buttons {
        padding-left: 5px;
        z-index: 2;
    }
    .linklist .btn {
        padding: 3px 10px;
        min-width: 0;
        margin-top: 0;
        font-size: 12px;
        border-width: 2px;
    }
    .search_btn_wrap .btn {
        margin-top: 14px;
    }
    .search_input {
        right: 145px;
    }
    .nav-inline li {
        margin-right: 5px;
    }
    .nav-main ul ul a {
        line-height: normal;
    }
    .container-features {
        height: 255px;
    }
    .feature {
        height: 255px;
    }
    .feature:hover {
        height: 410px;
        margin-top: -155px;
    }
}

@media only screen and (min-width:768px) and (max-width:850px) {
    .container-features {
    height: 340px;
    }
    .feature:hover {
        height: 465px;
        margin-top: -125px;
        padding-top: 130px;
    }
}


@media only screen and (min-width:851px) and (max-width:950px) {
    .container-features {
    height: 310px;
    }
.feature:hover {
    height: 440px;
    margin-top: -130px;
    padding-top: 140px;
    }
}

@media only screen and (min-width:951px) and (max-width:1170px) {
    .container-features {
    height: 290px;
    }
.feature:hover {
    height: 425px;
    margin-top: -135px;
    padding-top: 157px;
    }
}



@media only screen and (max-width:1510px) {
    .view-wide {
    display: none;
    }
}


@media only screen and (min-width:1024px) and (max-width:1199px) {
    .nav-main ul a {
    padding: 15px 13px 12px 15px;
}
.header-nav .nav-main {
    margin: 0 -1.5%}
}

@media only screen and (max-width:1060px) and (min-width:1024px) {
    .nav-utility .text a, .nav-utility .account-toggle {
    letter-spacing: 0;
    }
}
@media only screen and (min-width:768px) {
    .nav-sub {
    display: block !important;
    }
}

@media only screen and (max-width:767px) {
    html, body {
    font-size: 14px;
    line-height: 1.5em;
    }
    body:after {
        display: none;
    }
    h1 {
        letter-spacing: 1px;
        font-size: 21px;
    }
    h2 {
        font-size: 21px;
    }
    h3 {
        font-size: 19px;
    }
    .logo {
        width: 173px;
        height: 61px;
    }


    .banner {
        height: 575px;
    }
    .banner-content {
        height: 525px;
    }
    .feature, .feature:hover {
        padding-top: 130px;
        padding-bottom: 10px;
        background-position: center 30px;
        background-size: auto 80px;
        background-color: #fff;
        background-color: rgba(255, 255, 255, .35);
    }
    .feature-2 {
        background-color: rgba(255, 255, 255, .75);
    }
    .feature-toggle {
        display: none;
    }
    .homeblock-content {
        width: auto;
    }
    .homeblock-content-main {
        padding-left: 0;
    }

/* fusion slides 
---------------------------------------------- */

    .fusion-title {
        font-size: 19px;
    }
    .fusion-title h1 {
        font-size: 32px;
    }
    .fusion-title h4 {
        font-size: 13px;
    }
    .banner-content h4:after {
        bottom: -9px;
        width: 37px;
        height: 3px;
    }
    .banner-primary, .banner-secondary {
        width: auto;
    }
    .banner-secondary {
        display: block;
        float: none;
    }
    .banner-secondary .wrapper_btn a {
        margin-top: 20px;
    }
    .landing_intro {
        margin-top: -275px;
        height: auto;
        max-height: none;
        padding-bottom: 30px;
    }
    .homeblock-title:after, .gallery_index>h2:after, .flexblock .headline:after {
        width: 41px;
        height: 3px;
    }
    .flexblock .col {
        display: block;
        float: none;
        margin-left: 0;
        width: auto !important;
        overflow: hidden;
    }
    .gallery_index>h2:after {
        width: 41px;
        height: 3px;
    }
    .home .post_excerpt, .home .post_excerpt:nth-child(odd) {
        padding: 0 2%}
    .home .post_excerpt:nth-child(odd) .post_image {
        margin-left: 0;
        float: none;
    }
    .home .post_image {
        margin-right: 0;
    }
    .post_excerpt h6 {
        padding-top: 20px;
    }
    .homeblock_stories .post_excerpt .post_image {
        float: none;
    }
    .page-foot>.colgroup>.col {
        padding: 10px 30px;
    }
    .page-foot .col .col {
        margin-bottom: 0;
    }
    .page-foot ul {
        margin-top: 0;
    }
    .page-foot .colgroup .page-foot-right {
        margin-bottom: 0;
        padding-bottom: 30px;
        background: #0c8dac;
    }
    .page-foot-credit {
        padding: 30px;
        background: #0c8dac;
    }
    .page-foot-heading {
        margin-top: 20px;
        margin-bottom: 6px;
    }
    .footer-image {
        height: 138px;
        overflow: hidden;
    }
    .footer-image img {
        left: -450px;
        height: 100%}
    .homeblock .btn {
        margin: 0 auto;
    }
    .wrapper_btn_foot a {
        padding: 0;
        border: 0;
        text-transform: none;
        color: #fff;
        background: transparent;
        font-family: 'Noticia Text', serif;
        font-size: 14px;
        line-height: 2.25;
        text-shadow: none;
    }
    .wrapper_btn_foot a:hover {
        text-decoration: underline;
        color: #fff;
        background: transparent;
    }
    .callout-button {
        margin-top: 0;
    }
    .homeblock-borderbtn, .wrapper_btn {
        text-align: center;
    }
    .wrapper_btn_foot {
        margin-top: 0;
        text-align: left;
    }
    .homeblock-borderbtn a {
        float: none;
    }
    tr, td, th {
        display: block;
        padding-bottom: 10px;
        text-align: left;
    }
    td {
        padding-bottom: 0;
    }
    td+td {
        padding-top: 0;
    }
    .table-mobile-scroll {
        overflow-x: scroll;
    }
    .table-mobile-scroll table {
        min-width: 600px;
    }
    .table-mobile-scroll tr {
        display: table-row;
    }
    .table-mobile-scroll th, .table-mobile-scroll td {
        display: table-cell;
    }
    .masonry_container .item .caption {
        bottom: 0;
    }
    .breadcrumb_component {
        width: 50%;
        margin-bottom: 0;
    }
    .linkbox-content h3:after {
        margin-bottom: 0;
    }
    .nav-sub {
        display: none;
    }
    .nav-sub>ul>li.current, .nav-sub>ul>li.parent {
        display: block;
    }
    .header-search {
        position: static;
        height: auto;
        overflow: visible;
        line-height: normal;
    }
    .header-search label, .header-search input, .search_input, .search_btn_wrap, .header-search input[type="text"] {
        display: block;
        width: auto;
        float: none;
        position: static;
        text-align: left;
        max-width: 100%}
    .search_btn_wrap {
        padding: 10px 0;
    }
    .button-search, .cancel_search {
        display: none;
    }
    .linklist .btn+.btn {
        margin-top: 10px;
    }
#trapdrawer-item-2 {
    display: block;
    overflow: hidden;
    width: 100%}

}
@media only screen and (max-width:500px) {
    div.image_component.right, img.alignright, div.flash_component.right, div.image_link_component.right, div.image_rotator_component.right, div.image_component.left, div.image_link_component.left, .image_component.left img, .image_link_component.left img, img.alignleft {
    float: none;
    margin-left: 0;
    margin-right: 0;
    }
    .homeblock-flex .image_component.left, .homeblock-flex .image_component.right {
        max-width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }
    .banner-content h1 {
        font-size: 26px;
    }
    .banner {
        background: transparent;
    }
    .accountOpen .closer {
        right: auto;
        top: auto;
        z-index: -1;
    }
}



@media print {
    .return-top {
    display: none;
    }
}
