article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
    display: inline;
    zoom: 1;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-size: 100%;
    line-height: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    overflow-y: scroll;
}
html, button, input, select, textarea {
    font-family: sans-serif;
}
html, body {
    margin: 0;
    padding: 0;
}
html, input {
    -webkit-font-smoothing: antialiased;
}
a:focus {
    outline: thin dotted;
}
a:hover, a:active {
    outline: 0;
}
h1 {
    font-size: 2.25em;
    line-height: normal;
    margin: 0 0 .67em;
}
h2 {
    font-size: 32px;
    line-height: normal;
    margin: 0 0 .83em;
}
h3 {
    font-size: 1.5em;
    line-height: normal;
    margin: 0 0 1em;
}
h4 {
    font-size: 13px;
    line-height: normal;
    margin: 0 0 1.33em;
}
h5 {
    font-size: 1em;
    line-height: normal;
    margin: 0 0 1.33em;
}
h6 {
    font-size: .83em;
    line-height: normal;
    margin: 0 0 1.33em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
blockquote {
    margin: 0 40px 1em;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
p, pre {
    margin: 0 0 1em;
}
pre, code, kbd, samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
    line-height: normal;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before, q:after {
    content: '';
    content: none;
}
small {
    font-size: 75%;
    line-height: normal;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
dl, menu, ol, ul {
    margin: 0 0 1em;
}
dd {
    margin: 0 0 0 40px;
}
menu, ol, ul {
    padding: 0 0 0 40px;
}
nav ul, nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    height: auto;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
form {
    margin: 0;
}
fieldset {
    border: 1px solid silver;
    margin: 0 -.625em 10px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
    white-space: normal;
    margin-left: -7px;
}
button, input, select, textarea {
    font-size: 100%;
    line-height: normal;
    margin: 0;
    vertical-align: baseline;
}
button, input {
    line-height: normal;
}
button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
    overflow: visible;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    height: 13px;
    width: 13px;
}
input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.clearfix:after, .colgroup:after, .colgroup-keep_mobile:after {
    content: ' ';
    display: block;
    clear: both;
}
.colgroup, .colgroup-keep_mobile {
    clear: both;
    margin-left: -4%;
    padding: 0;
    *overflow: hidden;
    list-style: none;
}
.col, .col-right {
    float: left;
    margin-left: 4%;
    margin-bottom: 1em;
    word-wrap: break-word;
    position: relative;
}
.col-right {
    float: right;
}
.col-1>.col, .col-1>.col-right {
    width: 96%}
.col-2>.col, .col-2>.col-right {
    width: 46%;
    *width: 45.87%;
}
.col-3>.col, .col-3>.col-right {
    width: 29.333333%;
    *width: 29.12%;
}
.col-4>.col, .col-4>.col-right {
    width: 21%;
    *width: 20.78%;
}
.col-5>.col, .col-5>.col-right {
    width: 16%;
    *width: 15.87%;
}
.col-6>.col, .col-6>.col-right {
    width: 12.666666%;
    *width: 12.45%;
}
.col-12>.col, .col-12>.col-right {
    width: 4.333333%;
    *width: 4.17%;
}
.col-4>.span-2, .col-6>.span-3, .col-12>.span-6 {
    width: 46%;
    *width: 45.87%;
}
.col-6>.span-2, .col-12>.span-4 {
    width: 29.333333%;
    *width: 29.12%;
}
.col-12>.span-3 {
    width: 21%;
    *width: 20.78%;
}
.col-12>.span-2 {
    width: 12.666666%;
    *width: 12.45%;
}
.col-3>.span-2, .col-12>.span-8, .col-6>.span-4 {
    width: 62.666666%;
    *width: 62.03%;
}
.col-5>.span-2 {
    width: 36%;
    *width: 35.64%;
}
.col-4>.span-3, .col-12>.span-9 {
    width: 71%;
    *width: 70.29%;
}
.col-5>.span-3 {
    width: 56%;
    *width: 55.44%;
}
.col-5>.span-4 {
    width: 76%;
    *width: 75.24%;
}
.col-6>.span-5, .col-12>.span-10 {
    width: 79.333333%;
    *width: 78.53%;
}
.col-12>.span-5 {
    width: 37.666666%;
    *width: 37.28%;
}
.col-12>.span-7 {
    width: 54.333333%;
    *width: 53.78%;
}
.col-12>.span-11 {
    width: 87.666666%;
    *width: 86.78%;
}
.col-2>.offset-1 {
    margin-left: 54%}
.col-3>.offset-1 {
    margin-left: 37.333333%}
.col-4>.offset-1 {
    margin-left: 29%}
.col-5>.offset-1 {
    margin-left: 24%}
.col-6>.offset-1 {
    margin-left: 20.666666%}
.col-12>.offset-1 {
    margin-left: 12.333333%}
.col-3>.offset-2 {
    margin-left: 70.666666%}
.col-4>.offset-2 {
    margin-left: 54%}
.col-5>.offset-2 {
    margin-left: 44%}
.col-6>.offset-2 {
    margin-left: 37.333333%}
.col-12>.offset-2 {
    margin-left: 20.666666%}
.col-4>.offset-3 {
    margin-left: 79%}
.col-5>.offset-3 {
    margin-left: 64%}
.col-6>.offset-3 {
    margin-left: 54%}
.col-12>.offset-3 {
    margin-left: 28.999999%}
.col-5>.offset-4 {
    margin-left: 84%}
.col-6>.offset-4 {
    margin-left: 70.666666%}
.col-12>.offset-4 {
    margin-left: 37.333333%}
.col-6>.offset-5 {
    margin-left: 87.333333%}
.col-12>.offset-5 {
    margin-left: 45.666666%}
.col-12>.offset-6 {
    margin-left: 53.999999%}
.col-12>.offset-7 {
    margin-left: 62.333333%}
.col-12>.offset-8 {
    margin-left: 70.666666%}
.col-12>.offset-9 {
    margin-left: 78.999999%}
.col-12>.offset-10 {
    margin-left: 87.333333%}
.col-12>.offset-11 {
    margin-left: 95.666666%}
.col-2>.span-2, .col-3>.span-3, .col-4>.span-4, .col-5>.span-5, .col-6>.span-6, .col-12>.span-12 {
    width: 96%}
.clear {
    clear: both;
}
img, textarea, video, iframe, select, input, table, fieldset {
    max-width: 100%}
.disable-floatwrap {
    display: table;
}
.list-reset, .list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-inline, .list-inline li {
    display: inline-block;
    *display: inline;
}
.screen-large {
    display: block !important;
}
.screen-small, .print, .hide-screen-large {
    display: none !important;
}
.accessibility {
    position: absolute;
    left: -1px;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.accessibility:focus {
    left: 0;
    width: auto;
    height: auto;
}
@media print {
    .print, .hide-screen-large {
    display: block !important;
}
.screen-small, .screen-large, .hide-print {
    display: none !important;
}
}
@media only screen and (max-width:767px) {
    .screen-small, .hide-screen-large {
    display: block !important;
}
.print, .screen-large, .hide-screen-small {
    display: none !important;
}
.colgroup, .colgroup>.col, .colgroup>.col-right {
    display: block;
    float: none;
    margin-left: 0;
    width: auto !important;
    overflow: hidden;
}
}
@media only screen and (min-width:600px) and (max-width:960px) {
    body {
    min-height: 1000px;
    min-width: 600px;
}
}
div.image_component.left, img.alignleft, div.flash_component.left, div.image_link_component.left, div.image_rotator_component.left {
    float: left;
}
div.image_component.right, img.alignright, div.flash_component.right, div.image_link_component.right, div.image_rotator_component.right {
    float: right;
}
div.image_component.center, div.flash_component.center, div.image_link_component.center, div.image_rotator_component.center {
    text-align: center;
}
.content_expander .content {
    display: none;
}
.toggle {
    float: left;
    cursor: pointer;
}
.check_box_answers .horizontal li, .radio_answers .horizontal li {
    display: inline-block;
    *display: inline;
    *float: left;
}
.video_player video {
    max-width: none;
}
.abe_blog_comments_section .comment_submit_dialog label {
    width: 8em;
    vertical-align: middle;
    display: block;
    float: left;
    clear: left;
}
.abe_blog_comments_section .comment_submit_dialog .captcha {
    padding-top: 2em;
}
.abe_blog_comments_section .comment_submit_dialog .captcha img {
    border: solid 1px #aaa;
}
.abe_blog_comments_section .comment {
    border: solid 1px #eee;
    margin: 1em;
}
.abe_blog_comments_section .comment.author {
    background-color: #cdae9c;
    border-color: #cdae9c;
}
.abe_blog_comments_section .comment.editor {
    background-color: #ffd294;
    border-color: #ffd294;
}
.abe_blog_comments_section .comment:target {
    background-color: #a6ff94;
    border-color: #9eff94;
}
.abe_blog_comments_section .comment .byline_link {
    background-color: #ffeed5;
    text-decoration: underline;
    cursor: pointer;
}
.abe_blog_comments_section .comment .byline {
    display: none;
    float: left;
    margin-left: 11em;
    background-color: #ffeed5;
    border: solid 1px #eee;
}
.abe_blog_comments_section .comment .body {
    clear: left;
    background-color: #eee;
    padding: 1em;
}
#blog_archive_list {
    list-style-type: none;
    padding: 0;
}
#blog_archive_list ul, #blog_archive_list li {
    padding: 0;
    margin-left: 0;
}
.blog_archive_list_month {
    list-style-type: none;
    font-size: 200%;
    font-weight: bold;
}
.blog_archive_list_day {
    list-style-type: none;
    font-size: 75%;
    font-weight: bold;
}
.blog_archive_list_post {
    list-style-type: none;
    font-size: 75%;
    font-weight: normal;
    margin-bottom: 10px;
}
#blog_archive_pagination {
    list-style-type: none;
}
#blog_archive {
    float: left;
    width: 65%}
#blog_pagination {
    float: right;
    width: 30%;
    background-color: #eee;
    border: .5px solid #ddd;
}
#blog_pagination ul {
    padding: 0;
    margin: 0;
}
#blog_pagination li {
    border: 1px solid #ccc;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.blog_archive.author {
    font-weight: bold;
}
.post_auth_title_section_date_time {
    margin: 0;
    padding: 10px 0;
}
.post_img_auth_title_section_date_time {
    margin: 0;
    padding: 10px 0 10px 90px;
    min-height: 80px;
}
.post_title_auth {
    margin: 0;
    padding: 10px 0;
}
.post_title {
    margin: 0;
    padding: 10px 0;
}
.blog_post_display_full_post {
    margin: 0;
    padding: 10px 0;
}
.post_excerpt {
    margin: 0;
    padding: 10px 0; 
}
.post_title_section_date {
    margin: 0;
    padding: 10px 0;
}
.post_display_full {
    margin: 0;
    padding: 10px 0;
}
.post_display_full_comments {
    margin: 0;
    padding: 10px 0;
}
.post_display_excerpt {
    margin: 0;
    padding: 10px 0;
}
.post_display_excerpt_comments {
    margin: 0;
    padding: 10px 0;
}
.post_display_additional {
    margin: 0;
    padding: 10px 0;
}
.post_display_additional_comments {
    margin: 0;
    padding: 10px 0;
}
#comments_section p {
    margin: 0;
    padding: 0 0 1em 0;
    line-height: 20px;
    clear: left;
}
#comments_section p label {
    display: block;
    width: 98px;
    line-height: 20px;
    float: left;
}
#comments_section p label.checkbox {
    display: inline;
    width: auto;
    float: none;
}
#comments_section p input {
    width: 110px;
    line-height: 20px;
}
img.regblock_image_captcha {
    display: block;
    padding: 10px 0;
}
#comments_section p textarea {
    height: 200px;
    width: 400px;
}
#comments_section p label#captcha {
    display: block;
    width: 180px;
    line-height: 20px;
    float: none;
    margin: 0;
    padding: 10px 0 0 0;
}
#comments_section p input#captcha {
    width: 110px;
    line-height: 20px;
}
fieldset.submit {
    border: 0;
}
.comment {
    margin: 10px 0;
    padding: 20px 0;
    border-bottom: 1px dashed #ccc;
}
.comments_req {
    color: red;
    font-weight: bold;
}
.archive_post {
    margin: 0;
    padding: 10px 0;
}
p.month_year {
    margin: 0;
    padding: 0;
}
p.day_month_date_year {
    margin: 0;
    padding: 0;
}
#blog_pagination {
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
}
ul#blog_archive_pagination {
    margin: 0;
    padding: 0 0 10px 0;
    list-style: none;
}
ul#blog_archive_pagination li {
    margin: 0;
    padding: 0 0 5px 0;
}


.btn {
    display: inline-block;
    *display: inline;
    position: relative;
    color: #444;
    cursor: pointer;
    font-size: 14px;
    line-height: normal;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    padding: .5em .5em;
    *zoom: 1;
    margin: 0 0 1em;
    border: 1px solid #999;
    vertical-align: middle;
    background: none;
    background-color: #eee;
    background-image: -moz-linear-gradient(top, rgba(200, 200, 200, 0) 0, rgba(50, 50, 50, .4) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(200, 200, 200, 0)), color-stop(100%, rgba(50, 50, 50, .4)));
    background-image: -webkit-linear-gradient(top, rgba(200, 200, 200, 0) 0, rgba(50, 50, 50, .4) 100%);
    background-image: -o-linear-gradient(top, rgba(200, 200, 200, 0) 0, rgba(50, 50, 50, .4) 100%);
    background-image: -ms-linear-gradient(top, rgba(200, 200, 200, 0) 0, rgba(50, 50, 50, .4) 100%);
    background-image: linear-gradient(to bottom, rgba(200, 200, 200, 0) 0, rgba(50, 50, 50, .4) 100%);
    text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    box-shadow: inset 0 1px rgba(255, 255, 255, .3), 0 1px 2px rgba(0, 0, 0, .2);
    border-radius: 5px;
    -webkit-transition: background-color .09s linear;
    -moz-transition: background-color .09s linear;
    -o-transition: background-color .09s linear;
    transition: background-color .09s linear;
}
.btn:focus {
    outline: 1px dotted #666;
}
.btn:hover, .btn:focus {
    color: #333;
    background-color: #ddd;
}
.btn:active {
    color: #333;
    background-color: #ccc;
}
.btn-pos, .btn-neg {
    color: #fcfcfc;
    background-color: #008200;
    border: 1px solid #666;
}
.btn-pos:hover, .btn-pos:focus {
    color: #fff;
    background-color: #00a500;
}
.btn-pos:active {
    color: #fff;
    background-color: #13c013;
}
.btn-neg {
    color: #fff;
    background-color: red;
}
.btn-neg:hover, .btn-neg:focus {
    color: #fff;
    background-color: #d50000;
}
.btn-neg:active {
    color: #fff;
    background-color: #b60000;
}
.btn-disabled, .btn[disabled] {
    color: #aaa !important;
    background-color: #efefef !important;
    border: 1px solid #bbb !important;
    cursor: default !important;
    text-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
@media only screen and (max-width:599px) {
    .btn-pos {
    display: block;
    float: none;
    width: 100% !important;
    text-align: center;
    line-height: 3em;
    clear: both;
    margin: 0 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
}
label {
    display: inline-block;
    _display: inline;
    min-width: 160px;
    *width: 160px;
    vertical-align: middle;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    font-size: 20px;
    line-height: 2.5;
    height: 2em;
    padding: 0 12px;
    margin: 8px 0 .5em;
    border: 2px solid #cdcdcd;
    display: inline-block;
    *display: inline;
    color: #5b6368;
    vertical-align: middle;
    background: #fff;
    text-shadow: 0 1px 1px #fff;
    font-family: "NoticiaText"}
::-webkit-input-placeholder {
    color: #a3aeb5;
    font-style: italic;
}
:-moz-placeholder {
    color: #a3aeb5;
    font-style: italic;
}
::-moz-placeholder {
    color: #a3aeb5;
    font-style: italic;
}
:-ms-input-placeholder {
    color: #a3aeb5;
    font-style: italic;
}
input:focus, textarea:focus, keygen:focus, select:focus {
    outline: 0;
    border-color: #999;
}
textarea.btn-disabled, textarea[disabled], input[type="text"].btn-disabled, input[type="text"][disabled], input[type="password"].btn-disabled, input[type="password"][disabled], input[type="datetime"].btn-disabled, input[type="datetime"][disabled], input[type="datetime-local"].btn-disabled, input[type="datetime-local"][disabled], input[type="date"].btn-disabled, input[type="date"][disabled], input[type="month"].btn-disabled, input[type="month"][disabled], input[type="time"].btn-disabled, input[type="time"][disabled], input[type="week"].btn-disabled, input[type="week"][disabled], input[type="number"].btn-disabled, input[type="number"][disabled], input[type="email"].btn-disabled, input[type="email"][disabled], input[type="url"].btn-disabled, input[type="url"][disabled], input[type="search"].btn-disabled, input[type="search"][disabled], input[type="tel"].btn-disabled, input[type="tel"][disabled], input[type="color"].btn-disabled, input[type="color"][disabled] {
    color: #0e0e0e;
    opacity: .5;
    filter: alpha(opacity=50);
}
select {
    display: inline-block;
    *display: inline;
    line-height: 49px;
    height: 49px;
}
textarea {
    display: block;
    height: auto;
    margin-top: 0;
}
input[type="checkbox"], input[type="radio"] {
    margin: 0 5px 0 0;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    width: 25px;
    height: 25px;
}
input[type="radio"] {
    width: 24px;
    height: 24px;
}
em.hint, .hint_text, .hint {
    font-size: .9em;
    line-height: 1.5em;
    font-style: italic;
    font-weight: normal;
}
@media only screen and (max-width:767px) {
    label, input, textarea {
    display: block;
    float: none;
    margin: 0 0 1em;
    width: auto !important;
}
input[type="checkbox"], input[type="radio"] {
    display: inline-block;
    width: 25px;
}
}
.opac8 {
    opacity: .8;
    filter: alpha(opacity=80);
}
.opac6 {
    opacity: .6;
    filter: alpha(opacity=60);
}
.opac4 {
    opacity: .4;
    filter: alpha(opacity=40);
}
.opac2 {
    opacity: .2;
    filter: alpha(opacity=20);
}
.talign-right {
    text-align: right;
}
.talign-center {
    text-align: center;
}
.talign-left {
    text-align: left;
}
.blockquote cite {
    padding-left: 5em;
}
#support {
    background: #b44343;
    padding: 20px 20px 0;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    font-weight: bold;
    border-bottom: 3px solid #5a0909;
    _display: block !important;
}
#support a {
    color: #fff;
    text-decoration: underline;
}
#support a:hover {
    text-decoration: none;
}
.textpander .content:after, #support:after, #fancybox-title:after, .gallery_single_image:after, .gallery_index:after {
    content: ' ';
    display: block;
    clear: both;
}
.message, .mini_messagebox {
    margin: 0 0 20px;
}
.message, .comment_submitted_message, .errortext, .errortext a, .errortext input, .mini_messagebox, .form_required {
    color: #ed1c24;
}
.message, .comment_submitted_message, .message, .mini_messagebox {
    display: block;
    padding: 15px;
    border: 2px solid #fdd49a;
    background: #fff8ee;
    font-weight: bold;
    border-radius: 4px;
    color: #e69520;
    box-shadow: 0 1px 3px rgba(100, 100, 100, .5);
}
.message .mini_messagebox {
    margin: -17px;
}
.message ul {
    margin: 0 0 0 20px !important;
}
.message_type-info, .message span.info, .mini_messagebox.info {
    border: 2px solid #9abafd;
    background: #eef5ff;
    color: #2097e6;
}
.message_type-error, .message span.error, .mini_messagebox.error {
    border: 2px solid #fdba9a;
    background: #FEE;
    color: #ed1c24;
}
.message_type-warn, .message span.warn, .mini_messagebox.warn {
    border: 2px solid #fdd49a;
    background: #fff8ee;
    color: #e69520;
}
.require_desc {
    color: #ed1c24;
}
.message h2.info, .message h2.warn, .message h2.error, .mini_messagebox h2 {
    border: 0;
    background: transparent;
}
.message h2, .mini_messagebox h2 {
    font-size: 1em !important;
    margin: 0 !important;
    padding: 0 !important;
}
.display_summary_top {
    float: right;
}
.next_prev_row .btn {
    margin-right: 10px;
}
span.image_component img {
    vertical-align: top;
}
div.image_component.left, div.image_link_component.left, .image_component.left img, .image_link_component.left img, img.alignleft {
    margin: 0 15px 15px 0;
}
div.image_component.right, div.image_link_component.right, .image_component.right, .image_link_component.right, img.alignright {
    margin: 0 0 15px 15px;
}
div.image_component.center, div.image_link_component.center {
    margin: 0 auto;
}
.caption_credit {
    margin-bottom: 15px;
    display: block;
}
.gallery_index ul {
    list-style: none;
    margin: 0;
    padding: 0 0 20px;
    *overflow: hidden;
}
.gallery_index li {
    list-style: none;
    display: inline-block;
    margin: 0 15px 15px 0;
    padding: 0;
    line-height: 0;
    *display: inline;
    *float: left;
}
.gallery_index img, img.gallery_main {
    border: 2px solid #FFF;
    box-shadow: 0 2px 5px #999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
}
.gallery_index li.current img {
    border: 2px solid #444;
}
.gallery_single_image {
    margin: 0 0 1em;
}
hr, .hr {
    height: 1px;
    overflow: hidden;
    background: #e0e0e0;
    margin: 27px 0;
    clear: both;
    border: 0;
}
.gsa_results_wrapper a {
    word-break: break-all;
    word-wrap: break-word;
}
.gsa_results_wrapper {
    margin: 0;
    padding: 10px 0 20px 0;
}
h3.gsa_result_headline {
    margin: 0;
    padding: 0 0 6px 0;
}
.gsa_search_info_wrapper {
    margin: 0;
    padding: 20px 0 0 0;
}
.gsa_search_info_wrapper p {
    margin: 0;
    padding: 0;
}
.gsa_result p {
    margin: 0;
    padding: 0;
}
.gsa_result {
    margin: 0;
    padding: 15px 0;
}
p.gsa_bottom_nav {
    margin: 0;
    padding: 30px 0 0 0;
}
div.content_group ul.groups {
    margin: 0;
    padding: 0;
}
div.content_group ul.groups li {
    display: inline-block;
    padding: 0 30px 0 0;
    font-size: 1.5em;
}
div.content_group ul.groups li a {
    text-decoration: none;
}
div.content_group ul.groups li a.current {
    font-weight: bold;
}
div.content_group div.group_content {
    display: none;
    margin-top: 15px;
}
div.content_group div.group_content.current {
    display: block;
}
div.catalog_fast_find .fast_find_thumb {
    float: left;
    margin: 5px;
}
div.catalog_fast_find .fast_find_spinner {
    display: none;
}
div.catalog_fast_find .fast_find_results_items {
    position: absolute;
    background: white;
    border: 1px solid #666;
    width: 500px;
    padding: 0;
    margin: 0;
}
div.catalog_fast_find .fast_find_results_items ul {
    padding: 0;
    margin: 0;
}
div.catalog_fast_find .fast_find_results_items ul li.fast_find_results_item {
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    border: 1px solid white;
}
div.catalog_fast_find .fast_find_results_items li.fast_find_results_item.current {
    background: #ffc;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.textpander .open, .textpander .closed, .content_expander .icon {
    padding: 3px 2px 2px 2px;
    text-align: center;
    background: #fff;
    color: #fff;
    line-height: 16px;
    font-size: 1em;
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid #d71f29;
    margin-right: 10px;
    color: #d71f29;
}
.textpander .headline {
    cursor: pointer;
}
.content_expander .icon {
    font-size: 1.5em;
    font-weight: bold;
    padding: 0;
    line-height: .6;
    vertical-align: middle;
}
.textpander .closed {
    line-height: 12px;
}
.breadcrumb_component {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
}
.breadcrumb_component li {
    margin: 0 3px;
    padding: 0;
    list-style: none;
    display: inline-block;
    *display: inline;
}
.map_area {
    height: 350px;
}
p.form_checkbox, p.form_radio {
    float: left;
}
.check_box_answers ul, .radio_answers ul {
    list-style: none;
    vertical-align: bottom;
    margin-left: 0;
    padding-left: 0;
    float: left;
}
.check_box_answers input {
    width: 25px;
    height: 25px;
}
.radio_input_label input {
    width: 24px;
    height: 24px;
}
.form p {
    clear: left;
}
.form p br {
    display: none;
}
.hint_text {
    display: block;
    padding-left: 165px;
    clear: left;
    opacity: .6;
    filter: alpha(opacity=60);
    margin-top: -10px;
}
.form_textarea>.hint_text, .form_checkbox>.hint_text, .form_radio>.hint_text {
    padding-left: 0;
}
.ask_question label {
    display: inline;
}
@media only screen and (max-width:767px) {
    p.form_checkbox, p.form_radio {
    float: none;
}
.check_box_answers label, .radio_answers label, .answer label {
    display: inline-block;
    *display: inline;
    margin: 0;
}
.hint_text {
    padding-left: 0;
}
.display_summary_top {
    float: none;
}
}


html, body {
    color: #464646;
    background: #4bb1ca;
    font-family: 'Noticia Text', serif;
    font-size: 16px;
    line-height: 1.75;
    position: relative;
}
body:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 60%;
    display: block;
    background: #ddd;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
p {
    margin-bottom: .5em;
}
.wrapper {
    min-width: 600px;
    padding: 0;
    overflow: hidden;
}
.logo {
    float: left;
    width: 198px;
    height: 70px;
    background: url('https://www.sofn.com/amm/themes/sofn_2014/images/sofn-logo.png');
    background-repeat: no-repeat;
    background-size: 100%}
.align {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}
.full_page_width {
    background: #4bb1ca;
    z-index: 0;
    overflow: hidden;
}
.full_page_width img {
    max-width: 100%;
    display: block;
}
.main {
    background: #fff;
}
.callout {
    float: right;
    width: 29.333333%;
    margin: 0 0 0 4%}
a {
    text-decoration: none;
    color: #007f9d;
}
a:hover {
    text-decoration: underline;
    color: #00a7ce;
}
.cta, .feature-body>a, .teaser-body>a, .comments_count>a {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}
.comments_count>a {
    display: inline-block;
}
.text-screenreader, .trapdrawer-tray .text-screenreader {
    position: absolute;
    top: -1px;
    left: -1px;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.richtext p+h1, .richtext p+h2, ..richtext p+h3, .richtext p+h4, .richtext p+h5, .richtext p+h6 {
    margin-top: 1.25em;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
    font-family: MontserratBold, Helvetica, Arial, sans-serif;
    font-weight: 700;
}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-style: italic;
}
h1 {
    letter-spacing: 2px;
    font-size: 38px;
    font-weight: 400;
    margin-top: 0;
}
h2 {
    font-size: 30px;
    margin-bottom: .25em;
}
h3 {
    color: #464646;
    font-size: 24px;
    margin-bottom: .25em;
}
h4 {
    color: #666;
    font-size: 20px;
    margin: 5px 0;
    padding-top: 10px;
}
h5 {
    color: #666;
    font-size: 16px;
    margin-bottom: .5em;
}
h6 {
    margin-bottom: 0;
    color: #999;
    font-size: 13px;
}
div.image_component.right, img.alignright, div.flash_component.right, div.image_link_component.right, div.image_rotator_component.right {
    float: right;
    margin-left: 20px;
}
div.image_component.left, div.image_link_component.left, .image_component.left img, .image_link_component.left img, img.alignleft {
    margin-right: 20px;
}
.col_nested {
    margin-left: 2%}
.addthis_toolbox {
    margin-bottom: 25px;
    margin-top: 8px;
    float: right;
    min-width: 140px;
}
.errors .addthis_toolbox {
    display: none;
}
.toggle {
    float: left;
    cursor: pointer;
    margin-top: 2px;
}
table {
    table-layout: fixed;
}
.table_full {
    width: 100%}
td {
    padding: 10px;
}
thead td {
    background-color: #e9e9e9;
}
.table_striped>tbody>tr:nth-child(odd)>td, .table_striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    line-height: 100%}
.viewLoggedIn {
    display: none;
}
.loggedIn .viewLoggedOut {
    display: none;
}
.loggedIn .viewLoggedIn {
    display: block;
}
.btn, .form_submit, .wrapper_btn a, .homeblock-borderbtn a, .gsa_top_box_button, .gsa_bottom_box_button, .trapdrawer-tray .account-toggle {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 0;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #d7202a;
    background: #fff;
    box-shadow: none;
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.5;
    -webkit-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    max-width: 100%}
.btn:hover, .form_submit:hover, .btn:focus, .wrapper_btn a:hover, .wrapper_btn a:focus, .homeblock-borderbtn a:hover, .homeblock-borderbtn a:focus, .gsa_top_box_button:hover, .gsa_bottom_box_button:hover, .member_resources .linklist .btn[href*="member_resources"], .trapdrawer-tray .account-toggle:hover {
    border-color: #d7202a;
    text-decoration: none;
    color: #fff;
    background-color: #d7202a;
}
.linklist .btn {
    margin: 0;
    margin-top: -10px;
    padding: 7px 20px;
    float: left;
    margin-right: 5px;
}
.richtext ul {
    padding: 0 0 0 20px;
}
.homeblock-flex .image_component {
    max-width: 60%}
.homeblock-flex .image_component.left {
    margin-right: 20px;
}
.homeblock-flex .image_component.right {
    margin-left: 20px;
}
.image_link_box_component {
    overflow: hidden;
    margin-bottom: 20px;
}
.image_link_box_component a {
    background: #f6f7f9;
    color: #464646;
    display: block;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    -webkit-transition: background-color .5s ease-in-out;
    transition: background-color .5s ease-in-out;
}
.image_link_box_component a:hover {
    background-color: #ebebef;
}
.linkbox-content {
    float: left;
    margin: 0;
    padding: 20px 82px 20px 22px;
}
.linkbox-content h3 {
    color: #007f9d;
}
.linkbox-content .caption_credit {
    clear: left;
}
.linkbox-content h3:after {
    content: '';
    width: 28px;
    height: 2px;
    margin: 9px 0 0;
    display: block;
    background-color: #007f9d;
}
.linkbox-image {
    position: absolute;
    top: 0;
    width: 64px;
    bottom: 0;
    right: 0;
    background-color: #f1f2f6;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
a:hover .linkbox-image {
    background-position: 30px center;
    background-color: #ebebef;
}
.page-head {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.utility-wrapper {
    background: #fff;
    background: rgba(255, 255, 255, .95);
}
.content-wrapper {
    background: #f3f5f8;
}
.header-main {
    background: #fff;
    background: rgba(255, 255, 255, .85);
}
.header-nav {
    padding-top: 0;
    padding-bottom: 0;
}
.header-search {
    position: absolute;
    top: -80px;
    left: 0;
    right: 0;
    height: 77px;
    overflow: hidden;
    background: #fff;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: position .5s ease;
    transition: top 500ms ease;
    line-height: 62px;
}
.header-search.show {
    top: 0;
}
.header-search .align {
    position: relative;
}
.search_input {
    position: absolute;
    left: 105px;
    right: 185px;
    top: 5px;
    z-index: 2;
}
.header-search input[type="text"] {
    width: 100%;
    max-width: none;
}
.header-search .cancel_search {
    margin-left: 10px;
    margin-right: 5px;
    opacity: 1;
    color: #d7202a;
}
.header-search .cancel_search:hover {
    text-decoration: none;
    opacity: .8;
}
.header-search label {
    float: left;
    min-width: 0;
    width: auto;
}
.header-search label h3 {
    margin-top: 14px;
}
.search_btn_wrap {
    float: right;
    text-align: right;
}
.search_btn_wrap .btn {
    float: left;
    margin-top: 7px;
}
#support, #support-js {
    position: relative;
    z-index: 2;
}
.nav-main, .nav-footer_mobile {
    text-align: left;
}
.header-nav .nav-main {
    margin: 0 -2.75%}
.nav-main>ul>.first {
    display: none;
}
.nav-main ul, .nav-main ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-main .hidden {
    display: none;
}
.utility {
    float: right;
}
.nav-utility, .linklist .richtext {
    float: left;
}
.trapdrawer-item .richtext .btn {
    width: 100%}
.utility-buttons {
    margin-right: -17px;
}
.account-dropdown {
    position: relative;
    float: left;
    z-index: 2;
    padding-bottom: 15px;
    margin-bottom: -15px;
}
.account-tray {
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .25);
    padding: 0 7px;
    width: 210px;
    left: -68px;
    top: -200px;
}
.lteie8 .account-tray {
    border: 1px solid #ccc;
}
.accountOpen .account-tray {
    top: 40px;
    z-index: 100000000000000000000000;
}
.accountOpen .trapdrawer-tray .account-tray {
    height: auto;
}
.accountOpen .closer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.accountOpen .utility-top .closer {
    z-index: 1;
}
.account-tray:after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #fff;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .15);
    transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: -5px;
    left: 50%;
    margin-left: -6px;
}
.lteie8 .account-tray:after {
    display: none;
}
.account-dropdown .account-tray a {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #d7202a;
    display: block;
    font-family: Montserrat, sans-serif;
    border: 0;
    padding: 8px;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    float: none;
    text-align: left;
}
.account-dropdown .account-tray a:hover {
    text-decoration: underline;
    color: #d7202a;
    background: #fff;
}
.linklist, .richtext .linklist {
    float: left;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
}
.nav-inline li {
    float: left;
    margin: 0 7px 0 0;
    list-style: none;
    *display: inline;
}
.nav-inline .search-site {
    margin-right: 0;
    display: inline-block;
}
.header-nav li {
    float: left;
}
.nav-main .btn {
    margin: 0;
}
.nav-main ul a {
    display: inline-block;
    padding: 15px 30px 12px;
    white-space: nowrap;
    text-decoration: none;
    color: #464646;
    font-family: montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    *display: inline;
    letter-spacing: 0;
}
.nav-main a:hover, .nav-main a.active {
    color: #007f9d;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
.nav-main .level_1 {
    position: relative;
}
.nav-main .level_1:hover {
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.nav-main .current>a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 17px;
    margin: 0 auto;
    height: 2px;
    width: 18px;
    background: #007f9d;
    left: 50%;
    margin-left: -9px;
}
.nav-level-2 .current>a:after {
    display: none;
}
.nav-utility li+.text:before, .account-toggle:before {
    float: left;
    margin-top: 4px;
    padding-right: 7px;
    content: '|';
    font-size: 10px;
    line-height: 2;
}
.nav-utility .text a, .nav-utility .account-toggle, .trapdrawer-tray .account-tray a {
    text-decoration: none;
    letter-spacing: 1px;
    color: #656565;
    font-family: 'Noticia Text', serif;
    font-size: 14px;
    cursor: pointer;
}
.nav-utility .account-toggle {
    padding-right: 10px;
}
.account-toggle:after {
    content: '';
    background-image: url('../images/dropdown.png');
    display: inline-block;
    width: 10px;
    height: 7px;
    background-size: contain;
    padding-left: 4px;
    margin-left: 4px;
    background-repeat: no-repeat;
}
.nav-utility .text a:hover, .nav-utility .account-toggle:hover, .trapdrawer-tray .account-tray a:hover {
    text-decoration: none;
    color: #282828;
}
.icon-search {
    display: block;
    width: 25px;
    height: 23px;
    background-size: 100%}
.icon-search:hover {
    opacity: .8;
}
.button-search {
    display: block;
}
.button-search:hover {
    text-decoration: none;
}
.icon-search:before:hover {
    text-decoration: none;
    opacity: .8;
}
.icon-search:before {
    font-size: 22px;
    content: '\73';
    color: #d7202c;
    opacity: 1;
}
.nav-main ul ul {
    position: absolute;
    overflow: hidden;
    height: 0;
    padding: 0;
    opacity: 0;
    background: #fff;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .25);
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    min-width: 100%}
.last .nav-level-2 {
    right: 0;
    z-index: 1;
}
.active.level_1.last ul.nav-level-2 {
    display: none !important;
}
.level_1:hover .nav-level-2 {
    height: auto;
    opacity: 1;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
    z-index: 10;
}
.level_1:hover>a {
    position: relative;
    z-index: 100;
}
.level_1 .level_2 {
    display: block;
    float: none;
    width: auto;
}
.level_2 a:hover {
    background: #f4f4f4;
}
@media only screen and (max-width :599px) {
    .nav-main ul {
    padding: 15px 0;
}
.nav-main ul ul {
    display: block;
}
.nav-main li {
    display: block;
    float: none;
}
.nav-main a {
    padding: 0;
}
}
@media only screen and (min-width :600px) {
    .nav-main ul.mobile_nav_active {
    display: block !important;
}
}
@-moz-document url-prefix() {
    .nav-main ul a {
    letter-spacing: .4pt;
}
}
.nav-sub {
    margin: 0;
    background-color: #ededed;
}
.col_nav-sub h6 {
    text-transform: uppercase;
    padding-bottom: 10px;
}
.nav-sub ul, nav.nav-sub ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-sub>ul>li {
    border-bottom: 1px solid #e2e2e2;
}
.nav-sub>ul>.last {
    border-bottom: 0;
}
.nav-sub a {
    display: block;
    padding: 8px;
    text-decoration: none;
    font-family: "Montserrat";
    font-size: 18px;
    color: #007f9d;
}
.nav-sub ul ul {
    padding-bottom: 5px;
}
.nav-sub ul ul ul {
    padding-bottom: 10px;
}
.nav-sub ul ul ul ul {
    padding-bottom: 10px;
}
.nav-sub ul ul a {
    font-size: 14px;
    padding: 3px 8px 6px 30px;
    background-color: #f3f3f3;
}
.nav-sub ul ul ul a {
    font-size: 12px;
    padding: 0 8px 4px 40px;
}
.nav-sub ul ul ul ul a {
    padding: 0 8px 4px 50px;
}
.nav-sub .current, .nav-sub .parent {
    color: #464646;
    background-color: #f3f3f3;
}
.nav-sub a:hover {
    background-color: #f7f7f7;
}
.nav-sub .current, .nav-sub .current:hover {
    cursor: default;
    background-color: #f3f3f3;
}
.navigation_action {
    display: inline-block;
    width: 12px;
}
.trapdrawer-left .nav-main li {
    display: block;
    float: none;
    width: auto;
    padding: 0 10px;
}
.trapdrawer-left .nav-main li a {
    white-space: normal;
    padding: 10px 10px;
    line-height: normal;
    color: #007f9d;
}
.trapdrawer-tray .nav-main {
    margin: 0 -20px -20px;
}
.trapdrawer-left .nav-main ul ul {
    position: static;
    padding: 10px 0;
    height: auto;
    opacity: 1;
    background: #f3f3f3;
    box-shadow: none;
}
.trapdrawer-left .nav-main .level_2 a {
    background: transparent;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 13px;
}
.trapdrawer-left .nav-main a:after {
    display: none;
}
.trapdrawer-left .nav-main .level_2 a:hover {
    background: transparent;
}
.trapdrawer-tray .search_input {
    width: 55%;
    float: left;
}
.trapdrawer-tray .search_btn_wrap {
    width: 40%;
    float: right;
    margin-top: -13px;
}
.trapdrawer-tray #login-area {
    overflow: hidden;
    width: 100%}
.trapdrawer-tray #login-area .btn {
    float: left;
    padding-left: 17px;
    padding-right: 17px;
}
.trapdrawer-tray #login-area .btn+.btn {
    float: right;
}
.trapdrawer-tray .nav-inline .text, .trapdrawer-tray .account-tray a {
    display: block;
    float: none;
    width: auto;
    text-transform: none;
}
.trapdrawer-tray .nav-inline .text a, .trapdrawer-tray .account-tray a {
    display: block;
    padding: 5px 5px 5px 0;
    margin: 0;
    text-transform: none;
}
.trapdrawer-tray .nav-inline .account-toggle {
    display: none;
}
.trapdrawer-tray .account-dropdown {
    position: static;
    float: none;
    margin-bottom: 0;
}
.trapdrawer-tray .account-toggle:before {
    display: none;
}
.trapdrawer-tray .account-toggle:after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-bottom: 1px;
    background-image: url('../images/dropdown-red.png');
}
.accountOpen .trapdrawer-tray .account-toggle:after {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}
.trapdrawer-tray .account-tray {
    position: static;
    box-shadow: none;
    width: 100%;
    left: auto;
    top: auto;
    height: 0;
    overflow: hidden;
    padding: 0;
}
.trapdrawer-tray li+.text:before, .trapdrawer-tray .account-tray:after {
    display: none;
}
.trapdrawer-tray .nav-utility, .trapdrawer-tray .linklist {
    float: none;
    display: block;
    width: auto;
    clear: both;
    overflow: hidden;
    padding-top: 10px;
}
.trapdrawer-tray .nav-main li>ul {
    display: none;
}
.trapdrawer-tray .nav-main a.parent, .trapdrawer-tray .nav-main a.current {
    color: #464646;
}
.trapdrawer-tray .nav-main .parent>ul, .trapdrawer-tray .nav-main .current>ul {
    display: block;
}
.trapdrawer-tray .align {
    padding: 10px 0;
}
.sidebar-content {
    font-size: 14px;
}
.sidebar-content .image_component {
    padding: 20px 0;
    display: block;
}
.side_callout {
    background: #f3f5f8;
    padding: 20px 20px 1px;
}
.footer-image {
    position: relative;
    width: auto;
    height: 233px;
    overflow: visible;
}
.footer-image.display-default-footer-image {
    background: url('/_asset/footer-1.jpg') center top no-repeat #464646;
}
.footer-image .image_component {
    display: block;
    margin-left: 50%;
    top: 0;
    bottom: 0;
    position: absolute;
    width: 100%}
.footer-image img {
    display: block;
    position: absolute;
    left: -900px;
    max-width: none;
}
.page-foot {
    min-height: 100px;
    padding: 0 20px;
    color: #fff;
    background: transparent;
}
.page-foot-heading {
    margin-top: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ededed;
    font-size: 14px;
}
.page-foot-right {
    margin-left: 2.5%}
.page-foot ul {
    margin: 6px 0 0 0;
    padding: 0;
}
.page-foot li {
    list-style: none;
    font-size: 14px;
    line-height: 2.25;
}
.page-foot a.hidden {
    display: none;
}
.page-foot .nav-level-2 {
    display: none;
}
.page-foot li>a, .page-foot a[href^=tel] {
    color: #fff;
}
.wrapper_btn_foot {
    margin-top: 20px;
}
.wrapper_btn_foot a {
    min-width: 0;
}
.tel, .adr {
    position: relative;
    margin-top: 20px;
    padding-left: 31px;
    font-size: 15px;
    line-height: 1.7;
}
.tel:before {
    position: absolute;
    top: 1px;
    left: 0;
    content: 'p';
    font-family: SoN;
    font-size: 14px;
}
.adr:before {
    position: absolute;
    top: 3px;
    left: 4px;
    content: 'm';
    font-family: SoN;
    font-size: 17px;
}
.tel .type:before {
    content: '\A';
    white-space: pre;
}
.tel .type:first-child:before {
    content: '';
    white-space: normal;
}
abbr[title] {
    border-bottom: 0;
}
.social li {
    display: block;
    display: inline-block;
    width: 23%}
.social a {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    min-height: 50px;
    text-indent: -100px;
    direction: ltr;
}
.social a:before {
    position: absolute;
    left: 100px;
    opacity: .8;
    font-family: SoN;
    font-size: 30px;
}
.social a:hover:before {
    opacity: 1;
}
.social .fb:before {
    content: 'f'}
.social .tw:before {
    top: 4px;
    content: 't';
    font-size: 26px;
}
.social .yt:before {
    content: 'y'}
.social .in:before {
    content: 'i'}
.page-foot-credit a {
    color: #fff;
    text-decoration: underline;
}
.page-foot-credit a:hover {
    text-decoration: none;
}
.nav-footer_mobile a.show_main_nav {
    display: none !important;
}
.column_testing .col, .column_testing .col-right {
    min-height: 20px;
    text-align: center;
    background: #ccc;
    *zoom: 1;
}
.column_testing .col .col {
    background: #aaa;
}
.column_testing .col .col .col {
    background: #666;
}
.return-top {
    position: fixed;
    bottom: -100px;
    right: 0;
    transition: bottom .5s ease-in-out;
}
.return-top a {
    padding-left: 10px;
    padding-right: 0;
    min-width: 54px;
}
.return-top a:after {
    content: '^';
    font-family: SoN;
    font-size: 28px;
    line-height: 0;
    display: inline-block;
    vertical-align: bottom;
    padding-bottom: 12px;
}
.rtt-visible {
    bottom: 15%}
.banner-features {
    overflow: hidden;
}
.container-features {
    height: 238px;
    background-color: #f4f4f4;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.container-features .align {
    padding: 0;
}
.container-features .col-3 .col {
    width: 33.3333%;
    margin: 0;
}
.feature {
    position: relative;
    overflow: hidden;
    height: 238px;
    padding-top: 130px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 22px;
    background-size: auto 91px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.feature-1 {
    background-image: url(../images/icon-community.png);
}
.feature-2 {
    background-image: url(../images/icon-financial.png);
    background-size: auto 84px;
}
.feature-3 {
    background-image: url(../images/icon-foundation.png);
}
.feature-icon-link a {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 125px;
    color: transparent;
    font-size: 0;
    text-decoration: none;
}
.feature-icon-link a:hover {
    text-decoration: none;
}
.feature-intro {
    margin-bottom: 0;
}
.feature-body {
    padding: 0 25px;
}
.feature-toggle {
    width: 16px;
    height: 21px;
    margin: 7px auto 40px;
    background-image: url(../images/show-state.png);
    background-size: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.feature:hover {
    height: 375px;
    margin-top: -137px;
    padding-top: 157px;
    background-color: rgba(255, 255, 255, .5);
    background-position: center 30px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.feature:hover .feature-toggle {
    margin-bottom: 10px;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.feature h2, .feature h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.home-body {
    overflow: hidden;
    background: #fff;
}
.homeblock {
    overflow: hidden;
    margin: 40px 0 0;
    padding: 30px 0 10px;
}
.homeblock-title .headline, .gallery_index h2 {
    text-align: center;
}
.homeblock-intro {
    text-transform: uppercase;
}
.homeblock-title, .flexblock .headline {
    margin-top: 20px;
}
.homeblock-title h1 {
    margin-bottom: 10px;
    margin-top: 0;
}
.homeblock-title h2 {
    margin-top: 0;
}
.homeblock-title h6 {
    text-transform: uppercase;
}
.homeblock-title:after, .gallery_index>h2:after, .flexblock .headline:after {
    display: block;
    width: 61px;
    height: 2px;
    margin: -15px auto 30px;
    content: '';
    background-color: #00a7ce;
}
.homeblock-title:after {
    margin-top: 0;
}
.homeblock_center .homeblock-title:after, .flexblock .headline:after {
    margin-top: 0;
    margin-bottom: 15px;
}
.gallery_index>h2:after {
    margin-top: 15px;
}
.home .post_excerpt {
    background: #f3f5f8;
    padding: 0 2% 0 0;
    overflow: hidden;
}
.post_excerpt h3 a {
    color: #464646;
}
.home .post_excerpt:nth-child(odd) {
    padding: 0 0 0 2%}
.post_excerpt h6 {
    margin-top: 20px;
}
.home .post_image {
    float: left;
    margin-right: 2%}
.post_image img {
    display: block;
}
.home .post_excerpt:nth-child(odd) .post_image {
    float: right;
    margin-right: 0;
    margin-left: 2%}
.paging_controls a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
}
.paging_controls a:hover:after, .paging_controls a:hover:before {
    text-decoration: none;
}
.paging_controls span+span {
    margin-left: 10px;
}
.paging_prev .paging_link:before {
    content: "<";
    padding-right: 10px;
}
.paging_prev .paging_first_link:before {
    content: "<<";
    padding-right: 10px;
}
.paging_next .paging_link:after {
    content: ">";
    padding-left: 10px;
}
.paging_next .paging_last_link:after {
    content: ">>";
    padding-left: 10px;
}
.col-content .post_img_auth_title_section_date_time {
    padding: 10px 0;
}
.homeblock_stories {
    padding-bottom: 0;
    margin-top: -10px;
}
.homeblock-content-main {
    float: left;
    width: 65%;
    padding: 0 20px;
}
.homeblock-content-aside {
    float: left;
    width: 35%}
.homeblock-borderbtn {
    overflow: hidden;
    border-top: 2px solid #d7202a;
    padding: 0 20px;
}
.homeblock-borderbtn+.homeblock-title {
    margin-top: 75px;
}
.home-body .homeblock-borderbtn {
    margin: 0;
}
.homeblock-borderbtn a {
    float: right;
    margin: -4px 0 0;
}
.homeblock-borderbtn_mirror a {
    float: none;
}
.homeblock_alt {
    background: #f3f5f8;
    padding-left: 20px;
    padding-right: 20px;
}
.homeblock_center .col {
    text-align: center;
}
.flexblock {
    background: #f3f5f8;
    margin: 40px 0 0;
    padding: 30px 20px 10px;
    overflow: hidden;
}
.flexblock .col {
    text-align: center;
    width: 46%}
.callout-image {
    float: left;
}
.callout-body {
    float: left;
    width: 60%}
.callout-button {
    float: left;
    margin-top: 100px;
}
.callout-button a {
    display: inline-block;
    vertical-align: middle;
}
.callout-button a:before {
    display: inline-block;
    height: 100%;
    margin-right: -.25em;
    content: '';
    vertical-align: middle;
}
.banner {
    position: relative;
    overflow: hidden;
    height: 550px;
    background: #4bb1ca;
}
.banner-slide {
    position: relative;
    width: 100%;
    height: 620px;
    overflow: hidden;
    background-size: auto 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.banner-slide-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: auto;
    height: 120%}
.banner-slide-image .image_component {
    margin-left: -50%;
    width: auto;
    height: 100%;
    display: block;
}
.banner-slide-image img {
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
}
.flex-viewport>ul {
    padding: 0;
    list-style: none;
}
.flex-control-nav {
    display: none;
}
.flex-direction-nav {
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.flex-direction-nav li a {
    position: absolute;
    top: -280px;
    display: block;
    overflow: hidden;
    width: 17px;
    height: 27px;
    text-indent: -400px;
    opacity: .5;
    font-size: 1px;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    direction: ltr;
}
.flex-direction-nav li a:hover {
    opacity: 1;
}
.flex-prev {
    left: -10%;
    background: url(../images/left-arrow.png);
}
.flex-next {
    right: -10%;
    background: url(../images/right-arrow.png);
}
.banner-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 440px;
}
.banner-content .align {
    height: 100%;
    padding: 10px 50px;
    max-width: 1280px;
}
.banner-content h3 {
    position: relative;
    letter-spacing: 1px;
    color: #fff;
    font-family: 'NoticiaItalic';
    font-size: 20px;
    text-shadow: 0 0 16px rgba(0, 0, 0, .25);
}
.banner-content h3:after {
    position: absolute;
    bottom: -12px;
    left: 0;
    display: block;
    width: 48px;
    height: 2px;
    content: '';
    background: #fff;
}
.banner-primary {
    float: left;
    width: 79%}
.banner-content h1 {
    font-size: 38px;
    color: #fff;
    text-shadow: 0 0 16px rgba(0, 0, 0, .75);
    margin-top: 30px;
}
.banner-secondary {
    display: block;
    margin-top: 9%;
    vertical-align: top;
    float: right;
}
.background_image {
    height: 368px;
    position: relative;
    z-index: 0;
}
.background_image .image_component {
    display: block;
    position: absolute;
    height: 100%;
    left: 50%}
.background_image .image_component img {
    display: block;
    height: 100%;
    width: auto;
    margin-left: -50%;
    max-width: none;
}
.landing_intro {
    color: #fff;
    max-height: 195px;
    position: relative;
    margin-top: -195px;
    padding: 10px 10%}
.landing_intro .richtext {
    text-align: center;
}
.landing_intro p {
    margin-bottom: 1.5em;
}
.landing_wide {
    border-top: 1px solid #f0eaea;
    margin-top: 10px;
    padding-bottom: 145px;
}
.breadcrumb_component {
    width: 75%;
    float: left;
}
.breadcrumb_component li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    color: #656565;
}
.internal-header {
    text-align: center;
}
.col-content h2 {
    margin-bottom: .5em;
}
.theme_sofn_2014_landing .post_image {
    display: none;
}
.col-content #blog_archive_pagination {
    padding: 10px;
}
.col-content #blog_archive_pagination li {
    margin: 0;
    padding: 0 0 5px 0;
    font-family: 'montserrat';
    border: 0;
}
.col-content #blog_pagination {
    margin: 0 0 20px 0;
    padding: 0;
    border: 0;
}
.masonry_container .item {
    overflow: hidden;
    margin-bottom: 10px;
}
.gallery_index .masonry_container img {
    box-shadow: none;
    display: block;
    border: 0;
    max-width: 380px;
}
.masonry_container .item .caption {
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    bottom: -100%;
    padding: 0 16px;
    transition: all .5s ease;
}
.masonry_container .item .caption>* {
    color: #464646;
}
.masonry_container .item .caption>p {
    font-size: 14px;
}
.masonry_container .item:hover .caption {
    bottom: 0;
}
[class^='icon-'], [class*=' icon-'] {
    text-transform: none;
    font-family: 'SoN';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-arrow-up:before {
    content: "\5e"}
.icon-next:before {
    content: '\3e'}
.icon-prev:before {
    content: '\3c'}
.icon-close:before {
    content: '\78'}
.icon-minus:before {
    content: '\2d'}
.icon-plus:before {
    content: '\2b'}
.icon-phone:before {
    content: '\70'}
.icon-mark:before {
    content: '\6d'}
.icon-facebook:before {
    content: '\66'}
.icon-twitter:before {
    content: '\74'}
.icon-youtube:before {
    content: '\79'}
.icon-linkedin:before {
    content: '\69'}
@media only screen and (min-width:768px) and (max-width:1023px) {
    .nav-main ul a {
    font-size: 16px;
    padding: 15px 10px 12px;
}
.header-nav .nav-main {
    margin: 0;
}
.banner-primary {
    width: 70%}
.banner-content h1 {
    font-size: 30px;
}
.banner-content h3 {
    font-size: 16px;
}
#nav-main {
    display: block;
    width: 100%}
.banner-secondary {
    width: 29%}
.nav-utility .text a, .nav-utility .account-toggle {
    font-size: 12px;
}
#utility-buttons {
    padding-left: 5px;
    z-index: 2;
}
.linklist .btn {
    padding: 3px 10px;
    min-width: 0;
    margin-top: 0;
    font-size: 12px;
    border-width: 2px;
}
.search_btn_wrap .btn {
    margin-top: 14px;
}
.search_input {
    right: 145px;
}
.nav-inline li {
    margin-right: 5px;
}
.nav-main ul ul a {
    line-height: normal;
}
.container-features {
    height: 255px;
}
.feature {
    height: 255px;
}
.feature:hover {
    height: 410px;
    margin-top: -155px;
}
}
@media only screen and (min-width:768px) and (max-width:850px) {
    .container-features {
    height: 340px;
}
.feature:hover {
    height: 465px;
    margin-top: -125px;
    padding-top: 130px;
}
}
@media only screen and (min-width:851px) and (max-width:950px) {
    .container-features {
    height: 310px;
}
.feature:hover {
    height: 440px;
    margin-top: -130px;
    padding-top: 140px;
}
}
@media only screen and (min-width:951px) and (max-width:1170px) {
    .container-features {
    height: 290px;
}
.feature:hover {
    height: 425px;
    margin-top: -135px;
    padding-top: 157px;
}
}
@media only screen and (max-width:1510px) {
    .view-wide {
    display: none;
}
}
@media only screen and (max-width:1335px) {
    .view-med {
    display: none;
}
.return-top a {
    padding-left: 0;
}
}
@media only screen and (min-width:768px) and (max-width:888px) {
    .nav-main ul a {
    font-size: 13px;
    padding: 15px 10px 12px;
}
.utility {
    margin-top: -22px;
}
#utility-buttons {
    display: block;
    float: right;
    clear: both;
    margin-top: 10px;
}
.nav-utility li+.text:before, .account-toggle:before {
    display: none;
}
#utility-buttons .linklist {
    margin-top: 3px;
}
}
@media only screen and (max-width:1199px) and (min-width:1024px) {
    .nav-main ul a {
    padding: 15px 13px 12px 15px;
}
.header-nav .nav-main {
    margin: 0 -1.5%}
}
@media only screen and (max-width:1060px) and (min-width:1024px) {
    .nav-utility .text a, .nav-utility .account-toggle {
    letter-spacing: 0;
}
}
@media only screen and (min-width:768px) {
    .nav-sub {
    display: block !important;
}
}
@media only screen and (max-width:767px) {
    html, body {
    font-size: 14px;
    line-height: 1.5em;
}
body:after {
    display: none;
}
h1 {
    letter-spacing: 1px;
    font-size: 21px;
}
h2 {
    font-size: 21px;
}
h3 {
    font-size: 19px;
}
.logo {
    width: 173px;
    height: 61px;
}
.nav-utility .btn {
    margin: 5px 0;
    padding-left: 16px;
    padding-right: 16px;
}
.align, #page-head, .callout, #main, #wrapper {
    position: static;
    display: block;
    float: none;
    width: auto !important;
    min-width: 0;
    margin: 0;
}
.container-features, .feature, .feature:hover {
    height: auto;
    margin-top: 0;
}
.banner {
    height: 575px;
}
.banner-content {
    height: 525px;
}
.feature, .feature:hover {
    padding-top: 130px;
    padding-bottom: 10px;
    background-position: center 30px;
    background-size: auto 80px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, .35);
}
.feature-2 {
    background-color: rgba(255, 255, 255, .75);
}
.feature-toggle {
    display: none;
}
.homeblock-content {
    width: auto;
}
.homeblock-content-main {
    padding-left: 0;
}
.banner-main {
    font-size: 19px;
}
.banner-content h1 {
    font-size: 32px;
}
.banner-content h3 {
    font-size: 13px;
}
.banner-content h3:after {
    bottom: -9px;
    width: 37px;
    height: 3px;
}
.banner-primary, .banner-secondary {
    width: auto;
}
.banner-secondary {
    display: block;
    float: none;
}
.banner-secondary .wrapper_btn a {
    margin-top: 20px;
}
.landing_intro {
    margin-top: -275px;
    height: auto;
    max-height: none;
    padding-bottom: 30px;
}
.homeblock-title:after, .gallery_index>h2:after, .flexblock .headline:after {
    width: 41px;
    height: 3px;
}
.flexblock .col {
    display: block;
    float: none;
    margin-left: 0;
    width: auto !important;
    overflow: hidden;
}
.gallery_index>h2:after {
    width: 41px;
    height: 3px;
}
.home .post_excerpt, .home .post_excerpt:nth-child(odd) {
    padding: 0 2%}
.home .post_excerpt:nth-child(odd) .post_image {
    margin-left: 0;
    float: none;
}
.home .post_image {
    margin-right: 0;
}
.post_excerpt h6 {
    padding-top: 20px;
}
.homeblock_stories .post_excerpt .post_image {
    float: none;
}
.page-foot>.colgroup>.col {
    padding: 10px 30px;
}
.page-foot .col .col {
    margin-bottom: 0;
}
.page-foot ul {
    margin-top: 0;
}
.page-foot .colgroup .page-foot-right {
    margin-bottom: 0;
    padding-bottom: 30px;
    background: #eeeeee;
}
.page-foot-credit {
    padding: 30px;
    background: #eeeeee;
}
.page-foot-heading {
    margin-top: 20px;
    margin-bottom: 6px;
}
.footer-image {
    height: 138px;
    overflow: hidden;
}
.footer-image img {
    left: -450px;
    height: 100%}
.homeblock .btn {
    margin: 0 auto;
}
.wrapper_btn_foot a {
    padding: 0;
    border: 0;
    text-transform: none;
    color: #fff;
    background: transparent;
    font-family: 'Noticia Text', serif;
    font-size: 14px;
    line-height: 2.25;
    text-shadow: none;
}
.wrapper_btn_foot a:hover {
    text-decoration: underline;
    color: #fff;
    background: transparent;
}
.callout-button {
    margin-top: 0;
}
.homeblock-borderbtn, .wrapper_btn {
    text-align: center;
}
.wrapper_btn_foot {
    margin-top: 0;
    text-align: left;
}
.homeblock-borderbtn a {
    float: none;
}
tr, td, th {
    display: block;
    padding-bottom: 10px;
    text-align: left;
}
td {
    padding-bottom: 0;
}
td+td {
    padding-top: 0;
}
.table-mobile-scroll {
    overflow-x: scroll;
}
.table-mobile-scroll table {
    min-width: 600px;
}
.table-mobile-scroll tr {
    display: table-row;
}
.table-mobile-scroll th, .table-mobile-scroll td {
    display: table-cell;
}
.masonry_container .item .caption {
    bottom: 0;
}
.breadcrumb_component {
    width: 50%;
    margin-bottom: 0;
}
.linkbox-content h3:after {
    margin-bottom: 0;
}
.nav-sub {
    display: none;
}
.nav-sub>ul>li.current, .nav-sub>ul>li.parent {
    display: block;
}
.header-search {
    position: static;
    height: auto;
    overflow: visible;
    line-height: normal;
}
.header-search label, .header-search input, .search_input, .search_btn_wrap, .header-search input[type="text"] {
    display: block;
    width: auto;
    float: none;
    position: static;
    text-align: left;
    max-width: 100%}
.search_btn_wrap {
    padding: 10px 0;
}
.button-search, .cancel_search {
    display: none;
}
.linklist .btn+.btn {
    margin-top: 10px;
}
#trapdrawer-item-2 {
    display: block;
    overflow: hidden;
    width: 100%}
}
@media only screen and (max-width:500px) {
    div.image_component.right, img.alignright, div.flash_component.right, div.image_link_component.right, div.image_rotator_component.right, div.image_component.left, div.image_link_component.left, .image_component.left img, .image_link_component.left img, img.alignleft {
    float: none;
    margin-left: 0;
    margin-right: 0;
}
.homeblock-flex .image_component.left, .homeblock-flex .image_component.right {
    max-width: 100%;
    float: none;
    margin-left: 0;
    margin-right: 0;
}
.banner-content h1 {
    font-size: 26px;
}
.banner {
    background: transparent;
}
.accountOpen .closer {
    right: auto;
    top: auto;
    z-index: -1;
}
}

/* media screen stuff */

@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min--moz-device-pixel-ratio:2), only screen and (-o-min-device-pixel-ratio:2/1), only screen and (min-device-pixel-ratio:2), only screen and (min-resolution:192dpi), only screen and (min-resolution:2dppx) {
    .logo {
    background: url(https://www.sofn.com/amm/themes/sofn_2014/images/sofn-logo-2x.png) no-repeat;
    background-size: 100%}
.feature-1 {
    background-image: url(../images/icon-community-2x.png);
}
.feature-2 {
    background-image: url(../images/icon-financial-2x.png);
}
.feature-3 {
    background-image: url(../images/icon-foundation-2x.png);
}
.feature-toggle {
    background-image: url(../images/show-state-2x.png);
}
.account-toggle:after {
    background-image: url('../images/dropdown-2x.png');
}

}
@media print {
    .return-top {
    display: none;
}
}

